@model MyShop.Core.ViewModels.ProductListViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Products</h1>

<div class="col-md-2">
    <h4>Filter By Category</h4>
    <div class="list-group">
        @Html.ActionLink("All", "Index", null, new { @class = (Request["Category"] == null ? "list-group-item active" : "list-group-item") })

        @foreach (var itemCategory in Model.ProductCategories)
        {
            @Html.ActionLink(itemCategory.Category, "Index",  new { Category = itemCategory.Category }, new { @class = (Request["Category"] == itemCategory.Category ? "list-group-item active" : "list-group-item") })
        }
    </div>
</div>
<div class="col-md-10">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4" style="height:450px;padding:10px;margin:10px;border: solid thin whitesmoke;">
            <div class="col-md-12">
                <img class="img-thumbnail" style="height:250px;" src="~/Content/ProductImages/@product.Image" />
            </div>
            <div class="col-md-12">
                <strong>@Html.ActionLink(product.Name, "ProductDetails", new { Id = product.Id })</strong>
            </div>
            <div class="col-md-12">
                <p>@product.Description</p>
            </div>
            <div class="col-md-12">
                <h4>@product.Price</h4>
            </div>
            <div class="col-md-12">
                <a href="#" class="btn btn-default">Add to Basket</a>
            </div>
        </div>
    }
</div>
<div class="col-md-12 clearfix"></div>